# 1. भारी वीडियो और फोटो फोल्डर्स (upload न हों)
images/
videos/
compressed_videos/
my_original_videos/
background_music/
big_videos
bg_music
output_clips
# 2. API Keys और Secrets (सुरक्षा के लिए)
.env